Django~=4.2
django-cors-headers~=4.3
django-filter~=24.0
django-rest-knox~=4.2
django-su~=1.0.0
django-taggit~=5.0.1
djangorestframework~=3.15
Pillow~=10.2
#django-auth-ldap~=4.2
django-cas-ng~=5.0
#djoser @ git+https://github.com/sunscrapers/djoser.git@abdf622f95dfa2c6278c4bd6d50dfe69559d90c0
