import ldap
from django_auth_ldap.config import LDAPSearch
import os
import environ

env = environ.Env()

# Set the project base directory
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# Take environment variables from .env file
environ.Env.read_env(os.path.join(BASE_DIR, '.env.local'))


SITE_URL = "https://example.fr"
NOTIFICATION_SENDER = 'example@example.fr'
NOTIFICATION_REPLYTO = ['noreply@example.fr']

ALLOWED_HOSTS = []
CORS_ALLOWED_ORIGINS = [
]
CSRF_TRUSTED_ORIGINS = [
]

NEWPOST_TITLE = "Nouvelle annonce"
NEWPOST_LIFESPAN = 30


CAS_AUTH=env('VITE_CAS_AUTH')
CAS_CHECK_NEXT=False

PUBLIC_SEARCH=env('VITE_PUBLIC_SEARCH')

# When LDAP populate users, only user
# with email ending with those string will be set active
LDAP_ACTIVE_EMAIL_FILTER = ['@admin.example.fr','@example2.fr']

# CAS settings
CAS_VERSION = '3'
CAS_SERVER_URL = "https://example.fr/login"
CAS_ADMIN_PREFIX = "admin"

AUTH_LDAP_SERVER_URI = ""
AUTH_LDAP_BIND_DN = ""
AUTH_LDAP_BIND_PASSWORD = ""
AUTH_LDAP_USER_SEARCH = LDAPSearch(
)
#AUTH_LDAP_USER_ATTR_MAP = {"first_name": "givenName", "last_name": "sn", "email": "mail"}

NOTIFICATION_SENDER = 'openstock@exemple.fr'
NOTIFICATION_REPLYTO = ['noreply@exemple.fr']
