[Unit]
Description=Openstock clean posts (close and delete)
DefaultDependencies=no

[Service]
Type=oneshot
User=openstock
Group=openstock
ExecStart=/path/to/cleanposts.sh

