<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
    <p>Attention votre annonce "{{ post.title }}" vient d'expirée.. <a href="{{ SITE_URL }}/post/{{ post.id }}" style="font-size:15px; color:#143b79; margin-top:25px;margin-bottom:15px;">Accès annonce</a></p>
    <p>Elle sera supprimée définitivement dans 30 jours !</p>
    <p>Ce mail est automatique, veuillez ne pas y répondre directement.</p>
</body>
